body{
    margin:0;
    text-align: center;
    font-family:'Merriweather',serif;
    color:#40514E ;
}
h1{

    margin:50px auto 0 auto;
    font-family: 'Sacramento',serif;
    font-size:6.25em;
    color:#66BFBF ;
   

}
h2{
    font-family: 'Montserrat',sans-serif;
    color:#66BFBF ;
    font-size:2.8rem;


}
.spch2{
    font-family: 'Montserrat',sans-serif;
    font-size:2.8rem;
    color:#66BFBF ;
    font-weight: bold;

}
h3{
    font-family: 'Montserrat',sans-serif;
color:#0a8589;
font-weight:bold;


}

a{
    font-family: 'Montserrat',sans-serif;
    color:#105254;
    text-decoration:none ;
    padding: 50px;
    width:10px;
    font-size:20px;
}
a:hover{
    color:white;
}

div{
    position:relative;
    
    margin-top:0px;
   
}


.Top-container{
    background-color: #E8F9FD;
    position:relative;
    padding-top: 100px;
    
    
  
}



.bottom-container{
background-color: #66BFBF;
height: 200px;
margin-top: 50px;
}



span{
    text-decoration:underline;
}

.bottom-cloud{
    position:absolute;
    opacity:50% ;
    left:300px;
    bottom: 300px;
}
.top-cloud{
    position:absolute;
    right: 300px;
    top:50px;

}
.profile-pic{
    height:200px;
    width:200px;
    border-radius:100% ;
    
    
   
}

.skill-row{
    width:50%;
   margin:100px auto 100px auto;
   text-align: left;
   line-height: 2;
}
.code{
    width:35% ;
    float: left;
    margin-right:30px;
}
.code2{
    width:35% ;
    float:right ;
    margin-left:30px;
}

.h2width{
    margin-top: 50px;
    font-size:50px; ;
    font-weight: 600;
}
.p-pro{
    color:#40514E;
    padding: 20px;
}
hr{
    border-style:dotted none none;
    height:0px;
    width:5%;
    border-width:10px;
    opacity:50% ;
   

}

.h3wdth{
    font-weight:thick;
  
}


.bottom{
    margin:50px;
    color:#EAF6F6;
}


.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
